.container {
  padding: 16px;
}

mat-card {
  margin: 16px 0;
}

table {
  width: 100%;
  margin-bottom: 16px;
}

mat-card-header button {
  margin-left: auto;
}

.mat-mdc-row {
  cursor: pointer;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}